{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craftnet CP plugin for Craft CMS 3.x
 *
 * Craftnet CP index.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2018 Studio Espresso
 * @link      https://www.studioespresso.co
 * @package   CraftnetCp
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Create a new license" %}
{% set selectedSubnavItem = 'generate' %}

{% set content %}
    <form method="post" data-saveshortcut data-confirm-unload action="{{ actionUrl('craftnet-cp/license/generate') }}">
        {{ csrfInput() }}
        {{ redirectInput('craftnet-cp') }}

        {{ forms.textField({
            label: 'Email'|t('craftnet-cp'),
            instructions: 'The Craft ID email to assign the license'|t('craftnet-cp'),
            id: 'email',
            name: 'email',
            value: '',
            first: true,
            required: true
        }) }}

        {{ forms.textField({
            label: 'Edition'|t('craftnet-cp'),
            instructions: 'The edition of the plugin license'|t('craftnet-cp'),
            id: 'edition',
            name: 'edition',
            value: 'standard',
            required: true,
            readonly: true
        }) }}

        {% set pluginOptions = {} %}
        {% set pluginOptions = pluginOptions|merge([{
            'label': 'Select a plugin...'|t('craftnet-cp'),
            'value': ''
        }]) %}

        {% for handle, label in plugins %}
            {% set pluginOptions = pluginOptions|merge([{
                'label': label,
                'value': handle
            }]) %}
        {% endfor %}

        {{ forms.selectField({
            id: "handle",
            name: "handle",
            label: "Plugin"|t('craftnet-cp'),
            required: true,
            options: pluginOptions,
            value: ''
        }) }}

        {{ forms.selectField({
            id: "count",
            name: "count",
            label: "Number of Licenses"|t('craftnet-cp'),
            instructions: "The number of licenses you wish to create for this user."|t('craftnet-cp'),
            required: true,
            options: [
                {
                    label: "1",
                    value: 1,
                },
                {
                    label: "2",
                    value: 2,
                },
                {
                    label: "3",
                    value: 3,
                },
                {
                    label: "4",
                    value: 4,
                },
                {
                    label: "5",
                    value: 5,
                },
                {
                    label: "6",
                    value: 6,
                },
                {
                    label: "7",
                    value: 7,
                },
                {
                    label: "8",
                    value: 8,
                },
                {
                    label: "9",
                    value: 9,
                },
                {
                    label: "10",
                    value: 10,
                },
                {
                    label: "11",
                    value: 11,
                }
            ],
            value: ''
        }) }}

        {{ forms.lightswitchField({
            label: 'Expirable'|t('craftnet-cp'),
            instructions: 'Whether the license should be expirable.'|t('craftnet-cp'),
            id: 'expirable',
            name: 'expirable'
        }) }}

        {{ forms.textareaField({
            label: 'Notes'|t('craftnet-cp'),
            instructions: 'Notes that will display to the license holder.'|t('craftnet-cp'),
            id: 'notes',
            name: 'notes'
        }) }}

        {{ forms.textareaField({
            label: 'Private Notes'|t('craftnet-cp'),
            instructions: 'Notes that will only be visible to the plugin developer (theoretically).'|t('craftnet-cp'),
            id: 'privateNotes',
            name: 'privateNotes'
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Generate' }}">
    </form>
{% endset %}
